@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color:rgb(0, 14, 36);
	font-family: 'Roboto Mono';
}

figure {
	height: 700px;
	width: 700px;
}

.outline {
	stroke: white;
	stroke-width: 1;
}

.unmutated {
	stroke: white;
	stroke-width: 0;
}
.unmutated-line {
	stroke: red;
	stroke-width: 50;
	border-left: 50px  solid transparent;
	border-right: 50px  solid transparent;
	 border-top: 100px solid blue;
	 width: 0;
      height: 0;
stroke-linecap: round;
opacity: 0.4;
}


.unmutated-label{
cursor: pointer;

}

text{
white-space: pre-wrap;
}
/*
.mutation-label{
  -ms-transform: rotate(-50deg);
  transform: rotate(-50deg);
}
 
*/

.soft-label{
color: #0D47A1;
}

/*mobile click tooltip*/
.mutation-label {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.mutation-label .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.mutation-label:hover .tooltiptext {
  visibility: visible;
}

.mutation-label {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
